beautifulsoup4==4.9.3
boto3==1.17.67
distlib==0.3.1
Django==1.11.29
django-storages==1.1.8
google-cloud==0.34.0
gunicorn==19.10.0
importlib-metadata==2.1.1
importlib-resources==3.3.0
pyOpenSSL==19.0.0
s3transfer==0.3.6
selenium==3.141.0
typing==3.7.4.3
urllib3==1.26.4
virtualenv==20.2.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4