{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rare Disease Platform</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'front/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'front/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Rare Disease Platform
							</span>
						</div>
					</div>				
					<div class="flex-wr-e-c">
						<div class="left-topbar">
							<a href="/" class="left-topbar-item">
								About
							</a>

							<a href="/" class="left-topbar-item">
								Contact
							</a>

							<a href="/" class="left-topbar-item">
								Sing up
							</a>

							<a href="./login.html" class="left-topbar-item">
								Log in
							</a>
							<a href="#" class="left-topbar-item"></a>
						</div>						
					</div>	
				</div>
      </div>
    </div>

		
			
			<!--  -->
			<div class="wrap-logo no-banner container">
				<!-- Logo desktop -->		
				<div class="logo">
					<a href="/"><img src="" alt="LOGO"></a>
				</div>
			</div>	
			
			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="" alt="LOGO">
						</a>

						<ul class="main-menu justify-content-center">
							<li class="main-menu-active">
								<a href="/">Home</a>
							</li>

							<li class="mega-menu-item">
								<a href="/">Cystic Fibrosis</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="" role="tab">All</a>
                  </div>
                </div>
              </li>
                									

							<li class="mega-menu-item">
								<a href="/">Moebius Syndrome</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="/" role="tab">All</a>
                  </div>
                </div>									
							</li>

							<li class="mega-menu-item">
								<a href="/">Hansen's Disease</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="/" role="tab">All</a>
									</div>									
								</div>
							</li>

							<li class="mega-menu-item">
								<a href="/">Buerger Disease</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="/" role="tab">All</a>
									</div>									
								</div>
							</li>

							<li class="mega-menu-item">
								<a href="/">More</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="/" role="tab">All</a>
									</div>
                </div>                
              </li>
            </ul>
          </nav>
        </div>
      </div>
	</header>
		
	<!-- Feature post -->
	<section class="bg0">
			<div class="row m-rl-0 justify-content-center">
				<div class="col-md-4 p-rl-1 p-b-2">
					<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url(/rdpproject/main/static/front/images/cystic_fibrosis.jpeg);">
						<a href="" class="dis-block how1-child1 trans-03"></a>

						<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
							<a href="/" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
								Cystic Fibrosis
							</a>

							<h3 class="how1-child2 m-t-14 m-b-10">
								<a href="/" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
									Everything you need to know about Cystic Fibrosis
								</a>
							</h3>
						</div>
					</div>
				</div>

				<div class="col-md-4 p-rl-1 p-b-2">
					<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url();">
						<a href="/" class="dis-block how1-child1 trans-03"></a>

						<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
							<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
								Hansen's Disease
							</a>

							<h3 class="how1-child2 m-t-14 m-b-10">
								<a href="/" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
									New advances in cure for Hansen's Disease
								</a>
							</h3>
						</div>
					</div>
				</div>

				<div class="col-md-4 p-rl-1 p-b-2">
					<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url();">
						<a href="" class="dis-block how1-child1 trans-03"></a>

						<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
							<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
								Moebius Syndrome
							</a>

							<h3 class="how1-child2 m-t-14 m-b-10">
								<a href="blog-detail-02.html" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
									Moebius Syndrome: Symptoms, Casuses, and Treatments
								</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
	</section>

  <!-- Latest -->
	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="how2 how2-cl4 flex-s-c">
				<h3 class="f1-m-2 cl3 tab01-title">
					Latest Blog Posts
				</h3>
			</div>

			<div class="row p-t-35">
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="/" class="wrap-pic-w hov1 trans-03">
							<img src="" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="/" class="f1-m-3 cl2 hov-cl10 trans-03">
									Latest Blog Post 1 
								</a>
							</h5>

							<span class="cl8">
								<a href="/" class="f1-s-4 cl8 hov-cl10 trans-03">
									by John Doe
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									Dec 18
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="/" class="wrap-pic-w hov1 trans-03">
							<img src="" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="/" class="f1-m-3 cl2 hov-cl10 trans-03">
									Latest Blog Post 2 
								</a>
							</h5>

							<span class="cl8">
								<a href="" class="f1-s-4 cl8 hov-cl10 trans-03">
									by Jane Curtis
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									Dec 18
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="/" class="wrap-pic-w hov1 trans-03">
							<img src="" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="/" class="f1-m-3 cl2 hov-cl10 trans-03">
									Latest Blog Post 3 
								</a>
							</h5>

							<span class="cl8">
								<a href="/" class="f1-s-4 cl8 hov-cl10 trans-03">
									by David Kirwan
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									Dec 17
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="/" class="wrap-pic-w hov1 trans-03">
							<img src="" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="/" class="f1-m-3 cl2 hov-cl10 trans-03">
									Latest Blog Post 4
								</a>
							</h5>

							<span class="cl8">
								<a href="/" class="f1-s-4 cl8 hov-cl10 trans-03">
									by Ryan Hade
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									Dec 17
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="/" class="wrap-pic-w hov1 trans-03">
							<img src="" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="/" class="f1-m-3 cl2 hov-cl10 trans-03">
									Latest Blog Post 5
								</a>
							</h5>

							<span class="cl8">
								<a href="/" class="f1-s-4 cl8 hov-cl10 trans-03">
									by Louise McHugh
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									Dec 16
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="/" class="wrap-pic-w hov1 trans-03">
							<img src="" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="/" class="f1-m-3 cl2 hov-cl10 trans-03">
									Latest Blog Post 6 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									by Ciaran Malone
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									Dec 16
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="index.html">
								<img class="max-s-full" src="images/icons/logo-02.png" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
								Rare Disease Platform provides patients and healthcare professionals a medium to share and discuss rare diseases. Users can create, update and delete blog posts.
							</p>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Popular Posts
							</h5>
						</div>

						<ul>
							<li class="flex-wr-sb-s p-b-20">
								<a href="/" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="/" class="f1-s-5 cl11 hov-cl10 trans-03">
											Popular Blog Post 1
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Dec 20
									</span>
								</div>
							</li>

							<li class="flex-wr-sb-s p-b-20">
								<a href="/" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="/" class="f1-s-5 cl11 hov-cl10 trans-03">
											Popular Blog Post 2
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Dec 19
									</span>
								</div>
							</li>

							<li class="flex-wr-sb-s p-b-20">
								<a href="/" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="/" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="/" class="f1-s-5 cl11 hov-cl10 trans-03">
											Popular Blog Post 3
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Dec 17
									</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Category
							</h5>
						</div>

						<ul class="m-t--12">
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="/" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Cystic Fibrosis
								</a>
							</li>

							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="/" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Moebius Syndrome
								</a>
							</li>

							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="/" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Hansen's Disease
								</a>
							</li>

							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Buerger Disease
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Conor O Reilly x17101701</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{%static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'front/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{%static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'front/js/main.js' %}"></script>

</body>
</html>
