<!-- Mini Top Stats Row -->
{% extends 'back/master.html' %}

{% load static %}
{% load humanize %}
{% load extra_auth %}

{% block mainblock %}
{% if request.user|has_group:"masteruser" or request.user|has_group:"healthworker" or request.user|has_group:"patient" %}
<div class="row" style="margin-left: 20px;">
    <h1>Rare Disease Platform Dashboard</h1>
</div>
<div class="row" style="margin-left: 20px;">
    <h2>Welcome {{user}}</h2><br/>
    <h3>
        The goal of this platform is to provide users access to important information relating to rare diseases.<br/><br/>
        The aim is to increase awareness about rare diseases and help as many patients suffering from such diseases. The application will aim to serve as a guidance tool and reference point for patients hoping to understand their rare disease more.<br/><br/>
        The purpose of this application is to develop a user-friendly platform, which should provide an essential and beneficial service to the end user. The application will allow users to access information relating to rare diseases, which will be files such as links to important information, images and more.<br/><br/>
        The application will also allow authenticated users to communicate to each other in a group chat.
    </h3>
</div>

{% else %}
<div class="row">
    <h1>No access</h1>
</div>
<div class="row">
    <h2>Posts</h2>
    <h3 class="mb-0">
        We are still verifying your account. You can still view posts and engage in the Live Group Chat but you will not be able to create posts or categories. 
        Come back shortly
    </h3>
</div>
{% endif %}
<!-- END Mini Top Stats Row -->

<!-- {{rand|intword}} -->

{% endblock %}

{% block footerblock %}

<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/index.js' %}"></script>
<script>$(function(){ Index.init(); });</script>

{% endblock %}