<!-- Mini Top Stats Row -->
{% extends 'back/master.html' %}

{% load static %}
{% load humanize %}

{% block mainblock %}
<div class="row">
    <h1>Rare Disease Platform Dashboard</h1>
</div>
<div class="row">
    <h2>Posts</h2>
    <h3 class="mb-0">Rare Disease Platform provides patients and healthcare professionals a medium to share and discuss 
        rare diseases. Users can create, update and delete blog posts
    </h3>
</div>
<!-- END Mini Top Stats Row -->

<!-- {{rand|intword}} -->

{% endblock %}

{% block footerblock %}

<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/index.js' %}"></script>
<script>$(function(){ Index.init(); });</script>

{% endblock %}